* {
  padding: 0;
}

.active-style {
  text-decoration: underline;
}

.none {
  text-decoration: none;
}

.active-style,
.none {
  color: #007bff;
}

.rocket_container {
  display: flex;
  align-items: flex-start;
  margin: 30px auto;
  width: 80vw;
  height: 25vh;
}

.image_container img {
    width: 300px;
  }
  .reserved_tag {
    background-color: #18a2b8;
    color: #fff;
    border-radius: 4px;
    padding: 0.1em 0.3em;
    margin-right: 5px;
  }

  .info_container {
    height: 80%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  
  .info_container button {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 1em 1.5em;
  border-radius: 4px;
}

.cancel_reserv_btn {
  background: none;
  color: #6d757d;
}