* {
  padding: 0;
}

.active-style {
  text-decoration: underline;
}

.none {
  text-decoration: none;
}

.active-style,
.none {
  color: #007bff;
}

.rocket_container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80vw;
}

.rocket_container button {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 1em 1.5em;
  border-radius: 4px;
}
